
    <% if (products) { %>
        <section id="prodetails" class="section-p1">

            <!-- Small Images -->
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="/uploads/<%= products.productImage[0] %>" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="/uploads/<%= products.productImage[1] %>" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="/uploads/<%= products.productImage[2] %>" class="small-img" alt="">
                </div>
            </div>

            <!-- Main Image -->
            <div class="single-pro-image">
                <img src="/uploads/<%= products.productImage[0] %>" id="MainImg" alt="">
            </div>

            <!-- Product Details -->
            <div class="single-pro-details">
                <h4>
                    <%= products.productName %>
                </h4>
               
                <p> <%= products.stock > 0 ? 'In Stock' : 'Out of Stock' %> </p>

                
                <h2>
                    <%= products.regularPrice %>
                </h2>
                <input type="number" value='<%= products.stock>0 ? 1 : products.stock %>'' min="1" max="<%= products.stock %> " id="quantity"
                    onchange="quantityChange()">
         
                <button class="normal" onclick="addToCart('<%= products._id %>')">Add To Cart</button>
                &nbsp;
                <button class="normal" onclick="addToWishlist('<%= products._id %>')" > Add To Wishlist</button>
                <p> Stock : <%= products.stock %></p>
                <h4>Product Details</h4>
                <span>
                    <%= products.description %>
                </span>
            </div>
        </section>
        <% } %>

            <!-- Featured Products Section -->
            <section id="product12" class="section-p12">
                <h2>Featured Products</h2>
                <!-- <p>Limited Edition Collection</p> -->
                <div class="pro-containers">
                    <% product.forEach((element)=> { %>
                        <a href="/singleproduct/<%= element._id %>">
                            <div class="pros">
                                <img src="/uploads/<%= element.productImage[0] %>" alt="">
                                <div class="desi">
                                    <span>
                                        <%= element.category.name %>
                                    </span>
                                    <h5>
                                        <%= element.productName %>
                                    </h5>
                                    <div class="stars">
                                        <i class='bx bxs-stars'></i>
                                        <i class='bx bxs-stars'></i>
                                        <i class='bx bxs-stars'></i>
                                        <i class='bx bxs-stars'></i>
                                        <i class='bx bxs-stars'></i>
                                    </div>
                                    <h4>
                                        <%= element.regularPrice %>
                                    </h4>
                                </div>
                            </div>
                        </a>
                        <% }); %>
                </div>
            </section>

            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    const MainImg = document.getElementById("MainImg");
                    const smallImgs = document.querySelectorAll(".small-img");

                    // Change the main image when a small image is clicked
                    smallImgs.forEach(img => {
                        img.addEventListener("click", () => {
                            MainImg.src = img.src;
                        });
                    });

                    // Zoom functionality
                    const container = document.querySelector(".single-pro-image");

                    container.addEventListener("mousemove", (e) => {
                        const rect = container.getBoundingClientRect();
                        const x = ((e.clientX - rect.left) / rect.width) * 100;
                        const y = ((e.clientY - rect.top) / rect.height) * 100;

                        MainImg.style.transformOrigin = `${x}% ${y}%`;
                        MainImg.style.transform = "scale(1.5)";
                    });

                    container.addEventListener("mouseleave", () => {
                        MainImg.style.transform = "scale(1)";
                        MainImg.style.transformOrigin = "center center";
                    });
                });



                function quantityChange() {
                    const quantityvalue = document.getElementById("quantity").value;
                    const quantitymax = document.getElementById("quantity").max;

                    console.log("quantityvalue", quantityvalue);
                    console.log("quantitymax", quantitymax);

                    if(quantityvalue < 1){
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Quantity is less than 1 please add atleast 1',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        document.getElementById("quantity").value = 1;

                    }

                    if (quantityvalue > quantitymax) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Warning',
                            text: 'Quantity is more than stock',
                            showConfirmButton: false,
                            timer: 1500
                        })

                        document.getElementById("quantity").value = parseInt(quantitymax);
                    }




                }


                function addToCart(productId) {
                    const quantityValue = document.getElementById("quantity").value;

                    $.ajax({
                        url: '/add-to-cart',
                        type: 'POST',
                        data: {
                            productId: productId,
                            quantity: quantityValue
                        },
                        success: function (response) {
                            if (response.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Success',
                                    text: response.message,
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then(() => {
                                    window.location.replace('/cart');
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: response.message || "Something went wrong",
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        },
                        error: function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Something went wrong',
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    });
                }


                function addToWishlist(productId) {
                   
                    $.ajax({
                        url: '/add-to-wishlist',
                        type: 'POST',
                        data: {
                            productId: productId,
                        },
                        success: function (response) {
                            if (response.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Success',
                                    text: response.message,
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then(() => {
                                    window.location.replace('/wishlist');
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: response.message || "Something went wrong",
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        },
                        error: function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Something went wrong',
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    });
                }



            </script>
    