<section id="wishlist-header" class="about-header">
    <h2>♡ WISHLIST</h2>
    <p>Add Your Favorite , Products!</p>
</section>

<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Image</td>
                <td>Product</td>
                <td>Price</td>
                <td>Stock</td>
                <td>Add to Cart</td>
            </tr>
        </thead>
        <% if (wishlist && wishlist.items.length> 0) { %>
            <% wishlist.items.forEach(element=> { %>
                <tbody>
                    <tr>
                        <td><i class='bx bx-x-circle' onclick="removeFromWishlist('<%= element.product._id %>')"></i>
                        </td>
                        <td><img src="/uploads/<%= element.product.productImage[0] %>" alt="wishlist image"></td>
                        <td>
                            <%= element.product.productName %>
                        </td>
                        <% const offerPrice=(()=> { 
                            const productOffer = typeof element.product.productOffer === "number" &&
                            !isNaN(element.product.productOffer) ? element.product.productOffer : 0;
                            const categoryOffer = typeof element.product.categoryofferprice === "number" &&
                            !isNaN(element.product.categoryofferprice) ? element.product.categoryofferprice : 0;



                            if (productOffer > 0 && categoryOffer > 0) {
                                return Math.min(productOffer, categoryOffer);
                                } else if (productOffer > 0) {
                                return productOffer;
                                } else if (categoryOffer > 0) {
                                return categoryOffer;
                                } else {
                                return 0;
                                }
                                })();

                                if (offerPrice > 0) { %>

                                    <td>₹<%= offerPrice %>
                                    </td>

                                    <% } else { %>

                                        <td>₹<%= element.product.regularPrice %>
                                        </td>
                            
                            
                            <% } %>  
                        <% if (element.product.stock===0) { %>
                            <td>
                                <p>out of stock</p>
                            </td>
                            <% } else { %>
                                <td>
                                    <p>in stock</p>
                                </td>
                                <% } %>
                                    <td><i class='bx bx-cart carts' onclick="addToCart('<%= element.product._id %>', '<%= offerPrice %>', 1)" ></i></td>
                    </tr>

                </tbody>
                <% }) %>
                    <% } else { %>
                        <tbody>
                            <tr>
                                <td colspan="5" class="empty-wishlist">Your wishlist is Empty</td>
                            </tr>
                        </tbody>
                        <% } %>
    </table>

</section>



<script>



    function removeFromWishlist(productId) {
        fetch('/removeFromWishlist', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                productId: productId
            })
        }).then(response => {
            if (response.ok) {
                Swal.fire({
                    icon: 'success',
                    title: 'Product removed from wishlist',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    window.location.reload();
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Product removal failed',
                    text: 'Please try again',
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        })
    }



    function addToCart(productId, offerPrice, quantity) {


        console.log("quantityValue", quantity);

        console.log("productId", productId);

        console.log("offerPrice", offerPrice);

        $.ajax({
            url: '/add-to-cart',
            type: 'POST',
            data: {
                productId: productId,
                quantity: quantity,
                offerPrice: offerPrice
            },
            success: function (response) {
                if (response.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: response.message,
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.replace('/cart');
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: response.message || "Something went wrong",
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            },
            error: function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Something went wrong',
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        });
    }





</script>